# Pandas

You have now already learned about calculations and data analysis using the package `numpy`.  
While numpy is fast, it's data structure is not annotated and thus not how we would usually handle data.

An alternative is `pandas`, a data handling and analysis package.
Load it using

In [1]:
import pandas as pd

so that we can use `pandas` with the abbreviation `pd`.  
`pandas` introduces the new data types
- `Series`: an annotated vector and
- `DataFrame`: an annotated matrix with rows ("index") and columns (we will focus on this one)

The structure of the latter sounds very much like an excel-like spreadsheet and we can easily read in data that has this structure (like excel, csv, tsv) using functions like `pd.read_<filetype>`

In [2]:
# Reading CSV
pd.read_csv("assets/viz_exampledata.csv")

   cell_id  genotype   size
0        1        WT   3.92
1        2        WT   3.09
2        3        WT   3.35
3        4      MUT1   4.05
4        5      MUT1   4.35
5        6      MUT1   4.88
6        7      MUT2   4.30
7        8      MUT2   3.70
8        9      MUT2   3.15

In [3]:
# Reading TSV
# A tsv uses "\t" as a separator for its values
pd.read_table("assets/viz_exampledata.tsv", sep="\t")

   cell_id genotype  size
0        1       WT  3.92
1        2       WT  3.09
2        3       WT  3.35
3        4     MUT1  4.05
4        5     MUT1  4.35
5        6     MUT1  4.88
6        7     MUT2  4.30
7        8     MUT2  3.70
8        9     MUT2  3.15

In [4]:
# Reading EXCEL
# This function might produce an error
pd.read_excel("assets/viz_exampledata.xlsx")

   cell_id genotype  size
0        1       WT  3.92
1        2       WT  3.09
2        3       WT  3.35
3        4     MUT1  4.05
4        5     MUT1  4.35
5        6     MUT1  4.88
6        7     MUT2  4.30
7        8     MUT2  3.70
8        9     MUT2  3.15

The last cell might have produced an error. If so, open a terminal and type 
```bash
pip install openpyxl
```
Then rerun the  previous cell

## Penguin data <img src="https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/man/figures/logo.png" style="max-width: 500px" align="right">


This was only meaningless example data, so lets load a real dataset.  
This is even possible directly from a website (as long as you have access to it)

Here, we are going to use the `palmerpenguins` dataset, a study conducted on antarctic penguins between 2007 and 2009.  
There, they measured the penguins height, flipper and bill dimensions and many other dimensions.

<img src="https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/man/figures/culmen_depth.png" style="max-width: 500px">

In [5]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv"
)

The data is now loaded under the name `df` and we can take a look at it.  
Type `df.head()` to see the first few rows of the DataFrame.

In [6]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

## Indexing
Like with lists you have to use indexes or slices in square brackets `[]` to access single values or subsets of the DataFrame.  
However, in pandas you have to write `.loc` before that, otherwise it will access the columns by default.  
To get what is in the first row, for example, you type `df.loc[0]`

In [7]:
df.loc[0]

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       male
year                      2007
Name: 0, dtype: object

And to access the *first three rows*, you type `df.loc[0:2]`.  
Try out a few of these slices and see if you access what you think you would (compare to your `.head()` printout above).  
Do you notice a difference to indexing with lists?

In [8]:
df.loc[0:2]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [15]:
import numpy as np

### Exercise 1.1
1. Of which species are the penguins 220-225? On which island were they caught?
2. (optional) Find the point in the data where the species of the penguins changes from Gentoo to Chinstrap
3. (optional) There are two penguins for which these measurements weren't recorded (`NA`), find them

In [9]:
df.loc[220:225]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
220,Gentoo,Biscoe,43.5,14.2,220.0,4700.0,female,2008
221,Gentoo,Biscoe,50.7,15.0,223.0,5550.0,male,2008
222,Gentoo,Biscoe,47.7,15.0,216.0,4750.0,female,2008
223,Gentoo,Biscoe,46.4,15.6,221.0,5000.0,male,2008
224,Gentoo,Biscoe,48.2,15.6,221.0,5100.0,male,2008
225,Gentoo,Biscoe,46.5,14.8,217.0,5200.0,female,2008

In [13]:
df.loc[df.species=='Gentoo'].tail(1)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [14]:
df.loc[276]

species              Chinstrap
island                   Dream
bill_length_mm            46.5
bill_depth_mm             17.9
flipper_length_mm        192.0
body_mass_g             3500.0
sex                     female
year                      2007
Name: 276, dtype: object

Now, to restrict also the columns to subsets of columns or single values, use the syntax `.loc[<row(s)>, <column(s)>]`.  
For example, to get the species if the second penguin, write `df.loc[2, "species"]`.  
Note that you use the *name* of the column to access it (actually, we have been using the row names also up until now).  
You can also input a list of row and/or column names in the respective position to be even more specific, try for example `.loc[:, ["species", "year"]]`

Using this notation, we can access almost anything we desire in the data and we can now start to use other functions on it to begin analysis.  
For example, the `value_counts` method counts the occurrences of each unique entry.  
If you select a column or subset with numerical values, you can also directly calculate the `max`, `min`, `mean`, `sum`, ... .

### Exercise 1.2
1. How many penguins were recorded each year?
2. What is the maximum flipper length?
3. How many penguins of each species were found per island? (Tip: try selection two columns and then using `value_counts`)
4. (optional) Get the median body mass of the first 20 penguins.
5. (optional) Find a function that outputs if a value is `NA` (Tip: type `df.` and then the tab key to search for a function that sounds right)

In [35]:
df.loc[:,'species'].value_counts().min()

68

In [32]:
df.species.value_counts().min()

68

In [40]:
df[df.isna().sum(axis=1)>0]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN,2007
178,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN,2007
218,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN,2008
256,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN,2009
268,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN,2009
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009

In [41]:
df.isna().sum(axis=1)

0      0
1      0
2      0
3      5
4      0
      ..
339    0
340    0
341    0
342    0
343    0
Length: 344, dtype: int64

In [36]:
df.loc[:,"species"].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

Lastly, you can also use boolean vectors filters so select rows or columns for which a certain condition is fulfilled.  
To do this, write the filter statement in the position of `.loc[<row(s)>, <column(s)>]` that should be filtered.  
For example, we can select all rows where the island is `"Dream"` with the statement `df["island"] == "Dream"`
and placing it as the row in `loc`:

In [ ]:
df.loc[df["island"] == "Dream",:]

# Exercise 1.3
1. Filter for all the penguins from the island `"Biscoe"` and get the mean body mass
2. Select all penguins with a bill length smaller than 40 mm

## Plotting with Pandas (short)

With out newly cleaned data we can now try a bit more data analysis.

Pandas by itself can be used for plotting by using the `plot` method of our DataFrame.  
We won't be going into much detail with it, but it is very handy to make a fast and easy plot.

For example, we can make a histogram and look at the point distribution

In [ ]:
df["bill_length_mm"].plot(kind="hist")

Let's make it slightly more complex and plot the number of penguins per year that we counted before.  
For that we apply first the `value_counts` method and then the `plot` right after.

In [ ]:
df.value_counts("island").plot(kind="bar")

Note that to make it easier to read I added line breaks after each operation.  
In Python you can only do that if you put the code into parentheses `()`

In [ ]:
(
    df
    .value_counts("island")
    .plot(kind="bar")
)

### Exercise 1.4
1. Make a histogram of the bill depth. What is the most common value range?
2. Make a bar graph with how many penguins were recorded each year.

## Groupby

One very powerful technique to work on data is to split it into different groups, applying a function on each group and then combining the results of each operation again.  
Pandas has a function called `groupby` which can be used for this.  

In the example below, we will 

1. group the Penguins by their sex
2. select the bill length column
3. calculate the *mean value* of that column

In this way you can show if there are differences *between the two groups*

In [ ]:
(
    df
    .groupby("sex")
    ["bill_length_mm"]
    .mean()
)

We can plot this result directly as a barplot:

In [ ]:
(
    df
    .groupby("sex")
    ["bill_length_mm"]
    .mean()
    .plot(
        kind="bar", 
        ylabel="Bill length [mm]"
    )
)

### Exercise 1.5
1. Group the data by year and make a plot of the mean body mass
2. (optional) Recreate the barplot of the penguin number per island, but without using `value_counts` (don't count them yourself, of course)

----
## Checkpoint
Please indicate when you arrive at this point as we would like to have a **short presentation**.  
Feel free to help your neighbors or take a break

----

# Data Visualisation with Seaborn
Now that you have heard about all of these plotting types, we can explore how they are created in python.

## Histogram
A histogram is an easy way to visualise the distribution of our data.  
There are methods to plot directly from a dataframe, however we will show you another very user friendly package for plotting: `seaborn`

Let's import seaborn and plot a histogram using the function `histplot`

In [ ]:
import seaborn as sns

In [ ]:
ax = sns.histplot(df, x="bill_length_mm")

Imagine you saw the plot above in someone elses work, would you be satisfied with it?  
No! It is lacking a label for the x-axis and a title!  
Let's fix that.

For this, we use the syntax of matplotlib with `ax` (and `fig`)

In [ ]:
ax = sns.histplot(df, x="bill_length_mm")
ax.set_xlabel("Length [mm]")
ax.set_title("Bill length distribution")

### Exercise 2.1
1. Plot a histogram of the flipper length (with correct axis annotation).<br>Do you see something interesting? Can you think of a reason for the distribution shape?
2. (optional) Plot histograms for the other variables and look at their distributions. What do you observe?
3. (optional) As mentioned, there are methods of plotting directly from our DataFrame `df`. Find out how and recreate your histogram that way.

## Scatter plot
Assume now you have two two continuos variables you want to plot against eachother.  
For example, you hypothesise that overall bigger penguins have a higher flipper length.  
Often a `scatterplot` is the easiest choice:

For this, specify the columns you want plotted as `x` and `y` and use the `scatterplot` function.

In [ ]:
ax = sns.scatterplot(df, x="body_mass_g", y="flipper_length_mm")

ax.set_xlabel("Body mass [g]")
ax.set_ylabel("Flipper length [mm]")
ax.set_title("Flipper length vs. Body mass")

### Exercise 2.2
1. Plot the flipper length against the bill depth. How do you explain this behaviour?
2. Other variables show a similar pattern when plotted against each other. Find another example.
3. (optional) The seaborn `scatterplot` can also use nominal variables (like the island names).<br> Make a plot with such a column. What can you see? Does this type of plot make sense here?

## Boxplot & Violinplot
Often times you will want to compare a continuous dependent variable (like the flipper length or bill depth) between levels of a discrete independent variable (like the island, year, species, etc.).  
In this case, you are usually interested if the dependent variables' **distribution** is different between the cases.  
A common visualisation here are `boxplots`, showing a basic summary of the distribution:

In [ ]:
sns.boxplot(df, x="island", y="bill_depth_mm")

`violinplots` are very similar to boxplots but give a clearer overview of the distribution, especially for if it is non-normal.  
They estimate the fraction of data points with a certain y-value and plot this as width of the coloured area.  
(In seaborn the violinplot even contains a small boxplot).

In [ ]:
sns.violinplot(df, x="island", y="bill_depth_mm")

### Exercise 2.3
1. Make two more box or violonplots of the bill depth also relation to species and sex. Which of the three categories do you think is most influential? Why?

##  Line plot
Line plots are very common if you have one variable clearly dependent on another one, say a penguins *number* over *time*.  
In this dataset, let's plot the counts of penguins on the different islands over the years!

In [ ]:
ax = sns.lineplot(df.value_counts("year"))

ax.set_xlabel("Year")
ax.set_ylabel("Number of Penguins measured")

This plot however makes it seem like there are huge changes between the years because the y-axis is so zoomed in.  
Lets set the lower limit to `0`.  
Let's also fix the x-axis ticks, since we're only interested in the full years

In [ ]:
ax = sns.lineplot(df.value_counts("year"))
ax.set_ylim(0)
ax.set_xticks([2007, 2008, 2009])

ax.set_xlabel("Year")
ax.set_ylabel("Number of Penguins measured")

### Exercise 2.4
Look back at the way we calculated the mean bill length by sex using `groupby` before.<br>Modify that code such that it calculates that mean length per year and plot it as a line plot

## Pair Plot

If you start out with a multi-variable dataset and want to explore relationships within, it would be a good idea to use the previous plot types and systematically plot all distributions and pairwise relations.  
Luckily, there is a function for that: `sns.pairplot`

In [ ]:
axes = sns.pairplot(df)

Yo can see that at the intersection rows and columns with the identical label, that variable is plotted as a histogram and all other pairs are scatter-plotted.  
From here, you might find a relationship that sounds interesting to you and that you can investigate further.  

Do you notice something *missing* in this previous plot?

## Hexbin (optional)
If you have a large amount of data points then a scatterplot might become overloaded as many points overlap.  
Then, a `hexbin` plot is a nice alternative, as it represents the number of points in a certain (hexagonal) area of the plot as colour.  
This plot is a bit more complex when generated by seaborn so the syntax to renaming axes is different

In [ ]:
g = sns.jointplot(df, x="flipper_length_mm", y="bill_depth_mm", kind="hex")

g.set_axis_labels(xlabel="Flipper length [mm]", ylabel="Bill depth [mm]")

## Heatmap (optional)
There are also cases in which you have a whole matrix of values where rows and columns represent discrete values of a dependent and independent variable, respectively.  
In this case, it is common to use a `heatmap` to visualise the data values as different colours.
For example, you might show the expression value of a gene (row) in different mutants (columns) as the colour of the respective square.

Lets assume our initial example dataset represented such gene measurements and let's plot is as a heatmap.  
Load the file `viz_example_data_wide.csv`

In [ ]:
df2 = pd.read_csv("assets/viz_exampledata_wide.csv", index_col=0)

ax = sns.heatmap(df2)
ax.set_title("Cell size [m]")

## Colours & Shapes
Lastly it is good to consider colours and shapes in our plots.  
Of course, we can simply colour our plots as we like.  
For this use the `color` argument:

In [ ]:
ax = sns.scatterplot(df, x="flipper_length_mm", y="body_mass_g", color="orange")

However, colour can do so much more.  
The `hue` argument allows you to *name* a column by which the points are coloured.

Because the commands are getting long now, we can split them over multiple lines so that we can read them better.  
(Remember that only code in parentheses can be split)

In [ ]:
ax = sns.scatterplot(
    df,
    x="flipper_length_mm",
    y="body_mass_g",
    hue="bill_length_mm",
)

Customising the color palette of your plot is easy with the `palette` argument.  
By default, there are four such palettes, `"rocket"`, `"mako"`, `"flare"`, and `"crest"`, but you can create your own!

`seaborn` also allows you to use colours to distinguish discrete column values like `island`

In [ ]:
ax = sns.scatterplot(
    df,
    x="flipper_length_mm",
    y="body_mass_g",
    hue="island",
)

But for discrete values with few different values the `shape` is also a great way to distinguish.  
The seaborn argument for determining the shape from a column is `style`.

In [ ]:
ax = sns.scatterplot(
    df,
    x="flipper_length_mm",
    y="body_mass_g",
    style="island"
)

And of course these arguments can be combined in one plot.  
This allows you to differentiate even more dimensions (columns) of your dataset or guide the readers better!  
For example, using the same vaiable for colour **and** style makes the points even easier to distinguish:

In [ ]:
ax = sns.scatterplot(
    df,
    x="flipper_length_mm",
    y="body_mass_g",
    hue="island",
    style="island"
)

### Exercise 2.5
1. Plot a scatterplot of bill depth and bill length. Include the information about the species using point colour and/or shape
2. (optional, **recommended**) Select a relationship of two or more of the variables that you find interesting (e.g. look e.g. at the pairplot) and visualise it with a fitting plot type.<br>If there are any questions how something can be done please ask us.
3. (optional) Go wild! Try to include as much information as you can in a single plot - it doesn't have to be neat or visually appealing